
.cta{
     display: inline-block;
     margin: 0 auto toRem(20) auto;
     padding: toRem(15) toRem(100);

     background: $trc-orange;
     color: $black;
     font-weight: bold;

     border-radius: toRem(5);

     &:hover{
          background: darken($trc-orange, 5%);
     }
     &:active{
          background: darken($trc-orange, 5%);
          box-shadow: 0 toRem(3) $trc-darkorange;
          transform: translateY(toRem(3));
     }


}