
.hero-section{
     width: 100%;
     background-size: cover;
     background-position: 70% 80%;
     background-repeat: no-repeat;
     background-attachment: fixed;

     .hero-section-inner{
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          
          .hero-content{
               width: 90%;
               height: 75vh;
               
               margin: 0 auto;
               padding-top: toRem(70);
          }
     }
}